{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
    "key-spacing": [2, {
      "align": "colon",
      "afterColon": true,
      "beforeColon": true
    }]
  }
}
