{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
    "key-spacing": [2, {
      "align": "colon",
      "afterColon": true,
      "beforeColon": true
    }]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["#components", "./src/components"],
          ["#constants", "./src/constants"],
          ["#hooks", "./src/hooks"],
          ["#init", "./src/init"],
          ["#layouts", "./src/layouts"],
          ["#pages", "./src/pages"],
          ["#routes", "./src/routes"],
          ["#services", "./src/services"],
          ["#store", "./src/store"],
          ["#theme", "./src/theme"],
          ["#utils", "./src/utils"],
          ["#devTools", "./devTools"]
        ]
      }
    }
  }
}
