@font-face {
  font-family: 'BlinkerBold';
  src: local('BlinkerBold'), url('../../theme/fonts/Blinker-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratRegular';
  src: local('MontserratRegular'), url('../../theme/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratBold';
  src: local('MontserratBold'), url('../../theme/fonts/Montserrat-Bold.ttf') format('truetype');
}
